.generic_btn {
    padding: 10px 20px;
    margin-top: 16px;
    margin-left: 80px;
    color: #FFF;
    background-color: #0154AA;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    font-family: customFont;
}

@font-face {
    font-family: customFont;
    src: url('../../fonts/NeueHaasDisplayLight.ttf');
}