@font-face {
    font-family: customFont;
    src: url('../../../fonts/NeueHaasDisplayLight.ttf');
}

@font-face {
    font-family: customBoldFont;
    src: url('../../../fonts/NeueHaasDisplayMediu.ttf');
}

.jobs-container {
    width: 75%;
}

h1 {
    margin: 0px;
    font-family: customBoldFont;
}

h1 span {
    color: #0154AA;
}

p {
    color: #737A91;
    margin-top: 0px;
}

.search-section {
    width: 95.5%;
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    display: flex;
    color: #737A91;
    font-size: 16px;
    font-family: customFont;
}

.jobs_search_field {
    width: 40%;
    border: 1px solid transparent;
    padding: 13px 10px;
    border-radius: 8px;
    font-weight: 500px;
    font-size: 16px;
}

.location {
    width: 20%;
    padding: 11px;
    color: #737A91;
    border-left: 0.5px solid #E9ECEF;
}

.type {
    width: 20%;
    padding: 11px;
    color: #737A91;
    border-left: 0.5px solid #E9ECEF;
}

.angle {
    margin-top: -1px;
    margin-left: 10px;
    cursor: pointer;
}

.searchBtn {
    margin-top: 5px !important;
    width: 120px;
    margin-left: 0px !important;
    display: flex;
}

.searchImg {
    margin-right: 10px;
}

.similar-section {
    color: #737A91;
    margin: 20px 0px;
    font-family: customFont;
}

.similar-chips {
    display: flex;
    flex-wrap: wrap;
}

.similar-chips span {
    padding-top: 5px;
}

.chip {
    border: 1px solid #737A91;
    border-radius: 5px;
    margin: 0px 5px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .jobs-container {
        width: 100%;
        padding: 5px;
        margin-top: 10px;
    }

    .search-section {
        display: inline-block;
        text-align: center;
        padding: 4%;
    }

    .jobs_search_field {
        width: 90%;
    }

    .location {
        width: auto;
        margin-bottom: 10px;
    }

    .type {
        width: auto;
        margin-bottom: 10px;
    }

    .searchBtn {
        margin: auto !important
    }

    h1, p {
        text-align: center;
    }
}